section{
    padding: 80px 20px;

}
.services-grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.service-card {
  padding: 40px 30px;
  background-color: var(--accent-2);
}

.skill-fill {
    width: 0%;
    height: 100%;
    background-color: var(--accent-3);
}

.testimonial-card {
  display: none;
}
.testimonial-card.active {
  display: block;
}